:root{
    --primary-color: #8B0000;
    --secondary-color: #d65353; /*This is for backgrounds with words only*/
    --accent-color: #ff1500;
    --accent-secondary-color: #ff8872;
    --accent-tertiary-color: #f0f8ff;
}

.head-font {
  color: black;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body-font {
  color: Black;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.logo {
    width: 100px;
    height: auto;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.main-hamburger{
 position: relative;   
 left: 5300%;
 cursor: pointer;

}

.main-hamburger.active .bar:nth-child(2){
    opacity: 0;
}

.main-hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}
.main-hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--primary-color);
}

.navigation{
    background-color: var(--accent-secondary-color);
}


.navigation{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}


.navigation :hover, .course-nav :hover, .wdd :hover{
    color: var(--accent-color);
    font-weight: bolder;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

header{
    background-color: var(--secondary-color);
    display: flex;
    padding: 20px;
    border: 1px solid var(--primary-color);
    justify-content: space-between;
    flex-wrap: wrap;
}

.moon {
    width: 70px;
}
nav{
    left: 100px;
}

body{
    height: 100%;
}

.hero{
    object-fit: fill;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;

}

.hero-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}


.hero-text{
    position: relative;
    padding: 35px;
    text-align: center;
    left: 85%;
    bottom: 150px;
}

.main{
  display: flex;
  justify-content: space-around;
}
.forecast, .currentweather, .events{
    display: grid;
    grid-template-columns: auto;
    background-color: #ff8872;

}




.businesses{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list {
	display: flex;
	flex-direction: column;
}

footer{
    background-color: var(--accent-secondary-color);
    display: flex;
    justify-content: space-around;
}

.icon{

    width: 100px;
    height: auto;

}

.icons
{
    display: flex;
}

li{
    text-decoration: none;
}

.business-card {
  display: flex;
  flex-direction: column;
   border: 1px solid black;
   margin: 3px;
   width: 25%;
}

.business-card-header {
   text-align: center;
   border-bottom: 1px solid;
}

.business-card-body {
   display: flex;
   flex-direction: row;
   padding: 4px;
   justify-content: space-between;
}

.text-center {
   text-align: center;
}

.margin-bottom-3 {
   margin-bottom: 3px;
}

.padding-bottom-0 {
   padding-bottom: 0;
}

.padding-none {
   padding: 0 !important;
}

.margin-y-2 {
   margin-top: 2px;  
    margin-bottom: 2px;
}

.width-100 {
   width: 100%;
}

.flex-direction-column {
   flex-direction: column !important;
}

#events {

    padding-left: 100px;
    padding-right: 100px;
}

.currentweather{

    padding-left: 100px;
    padding-right: 100px;  
}

.forecast{

    padding-left: 100px;
    padding-right: 100px;  
}


