:root{
    --primary-color:#83a7b3;
    --secondary-color: #f5e1f0;
    --accent-color: #17011e;
    --accent-secondary-color: #b2110b;

}

.head-font {
  color: var(--accent-color);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body-font {
  color: var(--accent-color);
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.logo {
    width: 100px;
    height: auto;
}

.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.navigation{
    
    background-color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 30px;
    align-items: center;
    justify-content: space-around;
    height: 25px;
    width: 96%;
}

.navigation :hover{
    color: var(--accent-secondary-color);
    font-weight: bolder;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary-color);
}

.card-header{
    background-color: var(--primary-color);
    height: 4rem;
    text-align: center;
    padding-top: 1rem ;
    
}

.courses{
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.link-img{
    width: 100px;
    height: auto;

}
footer{
    background-color: var(--secondary-color);
}