:root{
    --primary-color: #ffff;
    --secondary-color: #242424;
    --accent-color: #800000;
    --secondary-accent: #FF1212;
}

.head-font {
  font-family: "Sigmar", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--primary-color);
}

.body-font {
  color: var(--secondary-color);
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

h1{
    background-color: var(--secondary-color);
    text-align: center;
}


.wireframe{
    max-width: 700px;
    position: absolute;
    left: 500px;
}

