@media (max-width:700px) {
   :root {
       --primary-color: #83a7b3;
       --secondary-color: #f0f8ff;
       --accent-color: #17011e;
       --accent-secondary-color: hsl(2, 88%, 37%);
   }


   .hamburger {
       width: 50px;
       height:50px;
       display: block;
       position: fixed;
       top: 15px;
       right: 20px;
       cursor: pointer;
       z-index: 1000;
   }

   .navigation {
    display: none; 
   }

   .navigation.active {
       display: block;
       position: fixed;
       top: 60px;
       right: 20px;
       background-color: var(--secondary-color);
       padding-bottom: 10%;
       padding-left: 5%;
       border-radius: 5px;
       box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
   }

   .hamburger.active .bar:nth-child(2) {
       opacity: 0;
   }

   .hamburger.active .bar:nth-child(1) {
    
       transform: translateY(8px) rotate(45deg);
   }

   .hamburger.active .bar:nth-child(3) {
       transform: translateY(-8px) rotate(-45deg);
   }

   .container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       background-color: var(--secondary-color);
   }

   .profile-img {
       width: 300px;
       height: auto;
       margin: 0 auto 0 20%;
   }

   .course-nav {
       display: grid;
       width: 100%;
       align-items: center;
   }

   .course {
    padding: 15px;
    text-align: center;
   }
}